@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+3:wght@300&display=swap');

label {
  font-size: 1.2em;
  font-weight: normal;
}

h2 {
  font-size: 3em;
  font-weight: normal;
  font-family: 'Source Sans 3', sans-serif;
}

h4 {
  font-size: 2em;
  font-weight: normal;
  font-family: 'Source Sans 3', sans-serif;
  color: 'black';
}


h5 {
  font-size: 1em;
  font-weight: normal;
  font-family: 'Source Sans 3', sans-serif;
  color: 'black';
   
}


.sidebar-menu li a { 
  font-weight: normal;
  font-family: 'Source Sans 3', sans-serif;
}

  
.shiny-text-output{
  font-weight: normal;
  font-family: 'Source Sans 3', sans-serif;
}


div label {
  font-weight: normal;
  font-family: 'Source Sans 3', sans-serif;
}

span a {
  font-weight: normal;
  font-family: 'Source Sans 3', sans-serif;
}


.help-block{
  font-weight: normal;
   font-family: 'Source Sans 3', sans-serif;
}
